@using ITech.Models;
@{ 
    Layout = null;
}

@{ 
    var user = ViewBag.model as User;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Assets/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/fontawesome-all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">*@
    <link rel="stylesheet" href="/Assets/css/AccountKH.css">
    <title>Đăng nhập</title>
</head>
<body>
    <div id="logreg-forms">
        @using (Html.BeginForm("Login", "AccountKH", FormMethod.Post, new { @class = "form-signin" }))
        {
            @*<form class="md-float-material">*@
            @Html.AntiForgeryToken()
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Đăng nhập</h1>
            <div class="social-login">
                <button id="btnLoginWithFB" class="btn facebook-btn social-btn" type="button"><span onclick="return redirectToLoginFB()"><i class="fab fa-facebook-f"></i> Tiếp tục với Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> tiếp tục với Google+</span> </button>
            </div>
            <p style="text-align:center"> Hoặc  </p>
            @Html.ValidationSummary(true, "", new { @class="alert alert-danger"})
            <div>
                <input type="email" class="form-control" value="@(user==null?"":user.Email)" name="Email" placeholder="Email address" required="" autofocus="">
                <input type="password" class="form-control" value="@(user==null?"":user.Password)" name="Password" placeholder="Password" required="">
            </div>

            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Đăng nhập</button>
            <a href="#" id="forgot_pswd">Quên mật khẩu?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Tạo tài khoản mới</button>
        }

        @*<form action="/reset/password/" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>*@

        @*<form action="/signup/" class="form-signup">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>
            </div>

            <p style="text-align:center">OR</p>
            <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
            <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>*@
        <br>

    </div>

    <script src="~/Assets/js/AccountKH.js"></script>
    <script>

        function redirectToLoginFB() {
            location.href = "/AccountKH/Facebook";
            return false;
        }
    </script>
</body>
</html>